{{> menu active="about"}}

<section class="section">
  <h1> Welcome to PlaceMarks
    PlaceMarks is a one-stop shop for Cyclists looking to attempt some of the steepest gradients in the world </h1>
</section>
