{{> welcome-menu}}

<div class="columns is-vcentered ">
  <div class="column has-text-centered">
    <h>
      Welcome to PlaceMarks
      PlaceMarks is a one-stop shop for Cyclists looking to attempt some of the steepest gradients in the world
      Sign up or Log in... </h>
  </div>
  <div class="column">
    <img src="/images/black-placemark.jpeg">
  </div>
</div>